# vs files
.vs/
x64/
*.sln
*.vcxproj*
build/
minGW/
CMake/
test/CMakeCache.txt
test/CMakeFiles/
test/Makefile
test/cmake_install.cmake
test/test.exe
test/CMakeCache.txt
.idea/
test/__pycache__/
test/tmp.txt

